
header{
    display: flex;
    top:0;
    right: 0;
    width: 100%;
    background: rgba(231, 52, 201, 0.123);
    justify-content: space-between;
    border-radius: 10px;} 
    

    .menu{
        display: flex;
        padding: 10px 20px;}

    .menu li{
        padding: 10px 20px;
        list-style: none;}

    
    h1{
    color: rgb(5, 4, 5);
    margin: 30px; 
    text-align: center; 
    height: 10px;}


img {
    margin: 50px; 
    border-radius: 100px; 
    width: 200px; 
    text-align: center
 } 

 p {margin:  50px;text-align: center }  
 
 body {
    background-image: url(fundo.jpg);
    }

.fotohobbie{
    border-radius: 50px; 
    width:auto;
    text-align: center;
    max-width: 30%;
    height: 20rem;
       
}


.texto9{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-top: 0px;
    margin: red;
   font-size: 20px;
}

.textos__container9 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    flex-direction:column;
    width: 80%;
    height: 25rem;
}

.titulo9{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.fotointeresse{
    border-radius: 50px; 
    width:auto;
    text-align: center;
    max-width: 50%;
    height: 20rem;
       
}

.texto10{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-top: 0px;
    margin: red;
   font-size: 20px;

}

.textos__alinhamento1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;

}

.titulo10{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.textos__alinhamento2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
